@import '../../../../core/variables.scss';

.detailsPage {

  &-description {
    border-bottom: 1px solid $borderColor;
    margin-bottom: 20px;

    &__text {
      font-size: 16px;
      font-weight: 300;
      color: #86939E;
      line-height: 24px;
    }
  }
}
