header {
  background: #444;
  color: #fff;
  background-color: #1976d2;
  color: #eee;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 90;
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    height: 70px;
  }

  h3 {
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .logo {
    position: absolute;
    top: 25%;
  }
}
