$borderRadius: 5px;

.wrap {
  width: 75%;
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  margin: auto;
  top: 4%;
  z-index: 100;

  @media screen and(width: 1024px) {
    top: 3%;
  }

  @media screen and(max-width: 600px) {
    width: 60%;    
    left: 65%;
    top: 39px;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;

    .searchTerm {
      font-size: 18px;
      width: 100%;
      border: 0;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: $borderRadius;
      outline: none;
      color: #eee;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.15);
    }

    img {
      position: absolute;
      right: 10px;
      left: 0;
      height: 100%;
      z-index: 10;
    }
  }
}
